<h1> <%= @gallery.name %> </h1>

<% if @gallery.user == current_user %>
  <%= link_to "Edit", edit_gallery_path(@gallery) %>
<% end %>

<div>
  <% if @gallery.user == current_user %>
    <%= link_to "Delete", gallery_path(@gallery), method: :delete %>
    <%= link_to "New Image", new_gallery_image_path(@gallery) %>
  <% end %>
</div>
<%= render @images %>