<h1> <%= @gallery.name %> </h1>

<% if signed_in? %>
<%= pluralize(@gallery.likes.count, "Like") %>
  <% if current_user.likes? @gallery %>
    <%= button_to "Unlike Gallery", unlike_gallery_path(@gallery), method: :delete %>
  <% else %>
    <%= button_to "Like Gallery", like_gallery_path(@gallery) %>
  <% end %>
<% end %>
<%= render @images %>

