<h1> <%= @gallery.name %> </h1>
<%= link_to "Edit", edit_gallery_path(@gallery) %>

<%= link_to "Delete", gallery_path(@gallery), method: :delete %>
<%= link_to "New Image", new_gallery_image_path(@gallery) %>

<% @gallery.images.each do |image| %>
  <img src="<%= image.url %>">
<% end %>