<h2><%= @image.name %></h2>

<%= link_to "Edit Image", edit_image_path(@image) %>
<%= link_to "Delete Image", @image, method: :delete, confirm: "Are you sure you want to delte this image?" %>


<p><%= @image.description %> </p>
<p><%= @image.url %></p>

<%= image_tag(@image.url, width: 200)  %>

<% if signed_in? %>
  <%= form_for([@image, @comment]) do |form| %>
    <%= form.text_area :body %>
    <%= form.submit %>
  <% end %>
<% else %>
  <%= link_to "Sign in", sign_in_path %> to comment
<% end %>

<%= render @comments %>