<h2><%= @image.name %></h2>

<%= link_to "Edit Image", edit_image_path(@image) %>
<%= link_to "Delete Image", @image, method: :delete, confirm: "Are you sure you want to delte this image?" %>

<br>

<%= image_tag(@image.url, width: 200)  %>
<p><%= @image.description %></p>

<% @tags.each do |tag| %>
  <%= link_to tag.name, tag %>
<% end %>

<p>Added by: <%= link_to @image.user.email, @image.user %></p>
<p>Added on: <%= @image.created_at.to_date %><p>

<div id="image-like-button">
<% if current_user.likes? @image %>
  <%= button_to "Unlike Image", unlike_image_path(@image), remote: true, method: :delete %>
<% else %>
  <%= button_to "Like Image", like_image_path(@image), remote: true %>
<% end %>
</div>

<div id="count">
<%= pluralize(@image.likes.count, "like") %>
</div>

<% if signed_in? %>
  <%= form_for([@image, @comment]) do |form| %>
    <%= form.text_area :body %>
    <%= form.submit  %>
  <% end %>
<% else %>
  <%= link_to "Sign in", sign_in_path %> to comment
<% end %>

<%= render @comments %>
<%= paginate @comments %>
